body {
    background-image: url("C:\Users\nikit\OneDrive\Desktop\iplPro\ipl-win-probability-predictor\WhatsApp Image 2024-07-01 at 20.48.07_247fec1b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
